.pet-infos span{
    vertical-align: middle;
    color: #626264;
}
.pet-infos text{
    font-size: 13px;
    padding: 2px;
    margin-right: 10pxs;
    vertical-align: middle;
    color: #626264;
}
.img-fluid{
    margin-bottom: 15px;
}
.mdi-star{
    color: #FACD5D;
}
.mdi-money{
    color: forestgreen;
}
.mdi-gps{
    color: #6f6fe6d5;
}
.frete{
    color: #fff;
    background-color: var(--terciary);   
}